@media only screen and (max-width: 500px) {
    #fadeshow1 {
        display: none;
    }
    .bt{
     display: block;
    }
}
.list-group-item {
    cursor: pointer;
    /*border: none;*/
    padding: 10px 20px;
    font-size: 1.1em;

    &:focus {
        outline: none;
    }

    &.active {
        border-radius: 10px;
    }
    &:not(.active):hover {
        color: white;
        background-color: rgba(245, 13, 13, 0.904);
        border-radius: 10px;
    }
}